/* customButton.css */
.custom-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.custom-button:focus,
.custom-button:active,
.custom-button:hover {
  outline: none;
}

.button-image {
  width: 35px;
  height: 30px;
  margin-right: 8px;
}

.button-label {
  font-size: 14px;
  white-space: nowrap;
}

.button-label:hover {
  text-decoration: underline;
}

