.searchBox {
  padding-right: 232px;
}

.song-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}

.song-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.song-row:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.thumbnail-container {
  margin-bottom: 10px;
  position: relative;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.play-icon {
  position: absolute;
  bottom: -4px;
  right: -6px; 
  display: none;
  background-color: #1ED760;
  border-radius: 50%; 
  padding: 8px;
  --slds-c-icon-color-foreground-default: black;
}

.song-row:hover .play-icon {
  display: block; 
  cursor: pointer;
}

.song-info {
  text-align: center;
}

.song-name {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.envelope {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 232px;
}

.imgcover {
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.music-name {
  font-size: 24px;
  margin: 0;
}

.artist-name {
  font-size: 18px;
  margin: 0;
  color: #666;
}

.play-button {
  position: absolute;
  background-color: #1ED760;
  border-radius: 50%; 
  padding: 8px;
  --slds-c-icon-color-foreground-default: black;
}
