.envelope {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 75px;
}

.imgcover {
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.song-info {
  text-align: center;
}

.music-name {
  font-size: 24px;
  margin: 0;
}

.artist-name {
  font-size: 18px;
  margin: 0;
  color: #666;
}
